@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    8809 Clarewood DR.<br />
    Austin, TX 78758<br />
    <abbr title="Phone">P:</abbr>
    512-922-8793
</address>

<address>
    <strong>Support:</strong>   <a href="mailto:Support@example.com">jeidehen@gmail.com</a><br />
</address>