
@{
    Layout = null;
}

<!DOCTYPE html>

<html ng-app="TestModule">
<head>
    <meta name="viewport" content="width=device-width" />
    <title>View</title>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.7/angular.min.js"></script>
    <script src="~/WebControllers/TestController.js"></script>
</head>
<body ng-controller="TestController">
<div>
    <h1> {{ title }} </h1>
    {{ items }} <br/>
    <div ng-repeat="item in items">
        Company Name: {{ item.companyName }} <br/>
        Brand Name: {{ item.itemBrandName }} <br/>
        Description: {{ item.description }} <br/>
        Total Inventory: {{ item.totalInventory }}
    </div>
</div>
</body>
</html>
