<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <!--<add name="ItemDbContext" connectionString="data source=(LocalDb)\MSSQLLocalDB;initial catalog=EntityFrameworkWithSqlLite.ItemDbContext;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework" providerName="System.Data.SqlClient" />-->
    <add name="ItemDbContext"
      providerName="System.Data.SqlServerCe"
      connectionString="Data Source=C:\ItemDatabase.sdf" />
  </connectionStrings>
</configuration>