
@{
    ViewBag.Title = "Home";
    Layout = "~/Views/Shared/MasterPage.cshtml";
}
<br/>
<div class="col-md-4">
    <div class="container">
        <img height="250" width="250" src="http://orig01.deviantart.net/541f/f/2013/143/3/d/render_natsu_by_dragneeln-d66cc3o.png" />
    </div>
</div>

<div class="col-md-8">
    <div class="container">
        <label>
            Welcome to Bentex's Cash Register's Site.<br/>
            Admin Options above.
            {{ 1 + 1 }}
        </label>
    </div>
</div>