@model dynamic

@{
    ViewBag.Title = "Inventory Count";
}

<h2>This is where you would perform a count of the inventory</h2>
<h3>It's possible we could add in a step here to validate it against the current inventory and spot differences</h3>
