@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Idehen's Store</h1>
    <p class="lead">Use this web page to Manage Inventory, Add New Items, even Perform Cash Register functions</p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Getting started</h2>
        <p>
            You must log in to view the other pages. There is currently only one default login with no functionality to add other users. This can be changed pretty easy if the need arises.
        </p>
    </div>
    <div class="col-md-4">
        <h2>Have a Look Around</h2>
        <p>The menu at the top of the screen will navigate you around the site and is always available if you want to jump around.</p>
    </div>
</div>