@{
    ViewBag.Title = "Inventory";
}

<h2>Inventory Management</h2>

<div class="container">
    <div class="panel-primary">
@*        TODO: Make these into pretty buttons*@
        @Html.ActionLink("Count Inventory", "countInventory")
        @Html.ActionLink("Add New Item", "addItem")
    </div>
</div>